* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Futura Bold Italic;
	font-size: 25px;
	color: #222222;
	line-height: 1.5;
	text-align: center;
}

h1, h2, h3 {
	background-color: #17FFA4;

}

div {
  width: 300px;
  margin: auto;
  border: 1px solid red;
}

